version: '3.7'
services:
  web:
    build: .
    command: gunicorn UMPL_Killer.wsgi:application --bind 0.0.0.0:8003
    volumes:
      - .:/usr/src/app/
    ports:
      - 8003:8003
    depends_on:
      - db
  db:
    image: postgres:alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=zo.h0906023
      - POSTGRES_DB=django_upml_killer
volumes:
  postgres_data:
